.dsc-catalog-card-top {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.dsc-catalog-card-top img {

    width: 150px;
    height: 150px;
    
}

.dsc-catalog-card-bottom{
    padding: 10px 20px;
    min-height: 110px; /* mantendo mesma altura 
    no card mesmo se expandi a tela */
}

.dsc-catalog-card-bottom h3{
    color: var(--color-font-secondary);
    font-size: 20px;
}

.dsc-catalog-card-bottom h4{

    color: var(--color-font-primary);
    font-size: 12px;
}

.dsc-catalog-card-date {
    font-size: 12px;
    font-weight: 400px;
}

.dsc-catalog-product-quantity{
    color: var(--color-font-primary);
}

.dsc-dueDate-warning {
    color: rgb(169, 169, 1);
    font-weight: bold;
}

.dsc-dueDate-invalid {
    color: red; /* Define a cor do texto como vermelho */
    font-weight: bold; /* Opcional: torna o texto em negrito */
    /* Outros estilos opcionais, como background-color, etc. */
}