/* não precisa de import porque o index.css é global*/

#product-details-section {
  padding: 20px 0; /* espaço 20 px em cima e embaixo e na horizontal 0 
    padding é o verdinho no inspecionar*/
}

.dsc-product-details-top {
  padding: 10px;
  display: flex;
  justify-content: center; /* alinha no centro na horizontal*/
}

.dsc-product-details-top img {
  width: 220px;
  display: flex;
}

.dsc-product-details-bottom {
  /*card da descrição do produto */
  padding: 10px 20px; /* 10 no topo enos demais lados 20 px */
}

.dsc-product-details-bottom h3 {
  /*preço do produto */
  color: var(--color-font-secondary);
  font-size: 20px;
  /*todo h ja vem negrito então n precisa colocar */
}

.dsc-product-details-bottom h4 {
  color: var(--color-font-primary);
  font-size: 12px;
}

.dsc-product-details-bottom p {
  color: var(--color-font-primary);
  font-size: 12px;
  margin: 10px 0; /* 10px na vertical
    e 0 nas laterais */
}

.dsc-category {
  background-color: var(--color-bg-tertiary);
  border-radius: 4px;
  margin-bottom: 10px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-font-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* colocando
    espaço interno nas laterais ao texto
    da categoria, no topo não precisa
    porque a altura já pega */
  margin-right: 20px;
}

.dsc-category-container {
  display: flex;
  flex-wrap: wrap; /*quebra a linha
    quando estoura a largura */
}
